<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Atomus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ConnectionString.Atomus" value="Data Source=atomus.dsun.kr;Initial Catalog=ATOMUS;Persist Security Info=True;User ID=;Password="/>
    <add key="ConnectionString.Atomus_MGMT" value="Data Source=atomus.dsun.kr;Initial Catalog=ATOMUS_MGMT;Persist Security Info=True;User ID=;Password="/>
  </appSettings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceString" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceString" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Atomus.Service.WcfServiceString" behaviorConfiguration="metadataAndDebugEnabled">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5781/WcfServiceString.svc"/>
            <!--<add baseAddress="http://atomus.dsun.kr/Service/WcfServiceString/WcfServiceString.svc"/>-->
            <!--<add baseAddress="net.tcp://atomus.dsun.kr:19001/Service/WcfService/WcfServiceString.svc"/>-->
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceString" contract="Atomus.Service.IServiceString"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!--<endpoint address="net.tcp://atomus.dsun.kr:19001/Service/WcfServiceString/WcfServiceString.svc"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IServiceString"
                  contract ="Atomus.Service.IServiceString"/>
        <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebugEnabled">
          <!-- 메타데이터 정보를 공개하지 않으려면 배포하기 전에 아래 값을 false로 설정하십시오. -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 디버깅 목적으로 오류에서 예외 정보를 받으려면 아래의 값을 true로 설정하십시오. 예외 정보를 공개하지 않으려면 배포하기 전에 false로 설정하십시오. -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
      <!--<add binding="netTcpBinding" scheme="net.tcp" />-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        디버깅 중에 웹 응용 프로그램 루트 디렉터리를 찾으려면 아래 값을 true로 설정하십시오.
        웹 응용 프로그램 폴더 정보를 공개하지 않으려면 배포 전에 false로 설정하십시오.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <applicationSettings>
    <Atomus.Properties.Settings>
      <setting name="FactoryConfigNamespace" serializeAs="String">
        <value>Atomus.Config.XmlDocumentFactoryConfig</value>
      </setting>
      <setting name="FactoryConfigPath" serializeAs="String">
        <value>http://atomus.dsun.kr/Deployer/Default.aspx?op=dll_text&amp;pid=1&amp;sid=2&amp;aid=9</value>
      </setting>
      <setting name="ServiceKey" serializeAs="String">
        <value>http://atomus.dsun.kr/Deployer/Default.aspx?op=xml&amp;pid=1&amp;sid=2</value>
      </setting>
    </Atomus.Properties.Settings>
  </applicationSettings>
</configuration>